/* background */

.background {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/bg/bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.modal-body.success {
    background: url(../img/alerts/success.PNG);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50vh;
}

.modal-body.bad {
    background: url(../img/alerts/bad.PNG);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50vh;
}

.modal-body.you_lost {
    background: url(../img/alerts/you_lost.PNG);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50vh;
}

.modal-body.won {
    background: url(../img/alerts/won.PNG);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50vh;
}

.container {
    align-content: center;
    vertical-align: middle !important;
    align-content: center;
    align-items: center;
    z-index: 1;
}

.container .error{
    border: 1px solid #dc3545 !important;
}

.modal {
    background-color: #000000eb;
}


.jumbotron {
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.7);
}

.ribbon {
    padding: 20px;
    background-color: #f7b90e;
    color: #000;
}

.border-dashed {
    border: 1px dashed rgba(0, 0, 0, 0.55) !important;
    padding: 10px !important;
}

.border-round {
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.50);
}

.border-round:hover {
    border: 1px solid #fff;
}

.eye-warning {
    background-color: orange;
    text-align: center;
    color: #000;
    padding: 8px;
    border: 1px solid #000;
    margin: 2px;
}


.eye-danger {
    background-color: red;
    color: #fff;
    padding: 8px;
    border: 1px solid #000;
    margin: 2px;
}

.eye-rounded {    
    border-radius: 15px !important;
}

.eye-light {
    background-color: transparent;
    color: #000;
    padding: 8px;
    border: 1px solid #000;
    margin: 2px;
}

.pointer {
    cursor: pointer;
}

.eye-light.success {
    color: #28a745;
    background-color: rgba(40, 167, 69, 0.1);
    background-image: none;
    border-color: #28a745;
}

.eye-light.error {
    color: #dc3545;
    background-color: rgba(220, 53, 69, 0.1);
    background-image: none;
    border-color: #dc3545;
}

.eye-light.selected {
    color: #07c;
    background-color: rgba(0, 119, 204, 0.1);
    background-image: none;
    border-color: #07c;
}

.eye-light.result {
    margin-top: 10px;
    color: #000;
    background-color: transparent;
    background-image: none;
    border-color: transparent;
}

.btn-secondary {
    background-color: #000;
}

.fz-35 {
    font-size: 35px !important;
}

.vertical-align {
    vertical-align: middle !important;
}

.fill {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 109px;
    width: 109px;
    border-radius: 10px;
    background-size: contain;
    cursor: pointer;
}

.bg-fill {
    background-image: url(https://www.outbacktoystore.com/c.769029/RTE%20Site/TT_SB2_Files/img/default-img.png);
}

.text-black {
    color: #000;
}

.text-white {
    color: #fff;
}

.hold {
    border: solid 2px #000;
}

.component {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 111px;
    width: 111px;
    border: 1px dashed rgba(0, 0, 0, 0.85);
    border-radius: 10px;
    /*background: rgba(255, 255, 255, 0.65);*/
    margin-top: 4px;
    margin-bottom: 4px;
}

.component:hover {
    border: 1px solid    rgba(0, 0, 0, 0.85);
}

.hovered {
    background: #fff;
    border: 1px dashed rgba(0, 0, 0, 255.85);
}